<div class='turn-announcer flexrow' 
	data-is-final-blow="true" 
	data-actor-id="{{injectData.actor.id}}" 
	data-user-id="{{injectData.user.id}}" 
	data-token-id="{{injectData.token.id}}">
	{{#unless hidePortrait}}
	<div class='portrait' style='flex: 0 0 48px; height: 48px; width: 48px;'>
		<img src='{{injectData.portrait}}' />
	</div>
	{{/unless}}
	<div class='text' style='margin-left: 3px;'>
		<h2 class='actor' style='margin-bottom: 3px; font-size: 1.2em;'>
			<span class='name-box'>{{{injectData.msg}}}</span>
		</h2>
		<span class='player'>
			<span class='name'>{{injectData.label}}</span>
		</span>
	</div>
</div>
